<div class="modal fade" id="bml-2-marc-src-dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">BML Iteration #2 - MARC21</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Example MARC XML from Colorado College</h3>
        <pre><code>
&lt;marc:record xmlns:marc="http://www.loc.gov/MARC21/slim"&gt;
    &lt;marc:leader&gt;02643nam a22004813a 4500&lt;/marc:leader&gt;
    &lt;marc:controlfield tag="001"&gt;ebl4198280&lt;/marc:controlfield&gt;
    &lt;marc:controlfield tag="003"&gt;NhCcYBP&lt;/marc:controlfield&gt;
    &lt;marc:controlfield tag="005"&gt;20160128113445.1&lt;/marc:controlfield&gt;
    &lt;marc:controlfield tag="006"&gt;m     o  d        &lt;/marc:controlfield&gt;
    &lt;marc:controlfield tag="007"&gt;cr  n        a&lt;/marc:controlfield&gt;
    &lt;marc:controlfield tag="008"&gt;151217s2016    njua    ob    001 0 eng d&lt;/marc:controlfield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="020"&gt;
      &lt;marc:subfield code="a"&gt;9781400881338&lt;/marc:subfield&gt;
      &lt;marc:subfield code="q"&gt;electronic book&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="020"&gt;
      &lt;marc:subfield code="a"&gt;1400881331&lt;/marc:subfield&gt;
      &lt;marc:subfield code="q"&gt;electronic book&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="020"&gt;
      &lt;marc:subfield code="z"&gt;9780691164038&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="020"&gt;
      &lt;marc:subfield code="z"&gt;0691164037&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="037"&gt;
      &lt;marc:subfield code="a"&gt;880361&lt;/marc:subfield&gt;
      &lt;marc:subfield code="b"&gt;MIL&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="040"&gt;
      &lt;marc:subfield code="a"&gt;NhCcYBP&lt;/marc:subfield&gt;
      &lt;marc:subfield code="c"&gt;NhCcYBP&lt;/marc:subfield&gt;
      &lt;marc:subfield code="d"&gt;CoCCC&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2="4" tag="050"&gt;
      &lt;marc:subfield code="a"&gt;QA95&lt;/marc:subfield&gt;
      &lt;marc:subfield code="b"&gt;.M38 2016eb&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1="0" ind2="4" tag="082"&gt;
      &lt;marc:subfield code="a"&gt;793.74&lt;/marc:subfield&gt;
      &lt;marc:subfield code="2"&gt;23&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1="0" ind2="4" tag="245"&gt;
      &lt;marc:subfield code="a"&gt;The mathematics of various entertaining subjects :&lt;/marc:subfield&gt;
      &lt;marc:subfield code="b"&gt;research in recreational math /&lt;/marc:subfield&gt;
      &lt;marc:subfield code="c"&gt;edited by Jennifer Beineke &amp; Jason Rosenhouse ; with a foreword by Raymond Smullyan.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2="1" tag="264"&gt;
      &lt;marc:subfield code="a"&gt;Princeton, New Jersey :&lt;/marc:subfield&gt;
      &lt;marc:subfield code="b"&gt;Princeton University Press in association with the National Museum of Mathematics,&lt;/marc:subfield&gt;
      &lt;marc:subfield code="c"&gt;[2016]&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="300"&gt;
      &lt;marc:subfield code="a"&gt;1 online resource (1 v.)&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="336"&gt;
      &lt;marc:subfield code="a"&gt;text&lt;/marc:subfield&gt;
      &lt;marc:subfield code="2"&gt;rdacontent.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="337"&gt;
      &lt;marc:subfield code="a"&gt;computer&lt;/marc:subfield&gt;
      &lt;marc:subfield code="2"&gt;rdamedia.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="338"&gt;
      &lt;marc:subfield code="a"&gt;online resource&lt;/marc:subfield&gt;
      &lt;marc:subfield code="2"&gt;rdacarrier.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="504"&gt;
      &lt;marc:subfield code="a"&gt;Includes bibliographical references and index.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="506"&gt;
      &lt;marc:subfield code="a"&gt;Access restricted to subscribing institutions. Individual titles purchased upon selection by the 7th affiliated user.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="533"&gt;
      &lt;marc:subfield code="a"&gt;Electronic reproduction.&lt;/marc:subfield&gt;
      &lt;marc:subfield code="b"&gt;Perth, W.A.&lt;/marc:subfield&gt;
      &lt;marc:subfield code="n"&gt;Available via World Wide Web.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="538"&gt;
      &lt;marc:subfield code="a"&gt;Book preview interface supplies PDF, image or read-aloud access. Adobe Digital Editions software required for book downloads.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="538"&gt;
      &lt;marc:subfield code="a"&gt;Users at some libraries may be required to establish a separate no-charge EBL account, and log in to access the full text. For security, do not use a confidential or important ID and password to log in; create a different username and password.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="540"&gt;
      &lt;marc:subfield code="a"&gt;Books may be viewed online or downloaded (to a maximum of two devices per patron) for personal use only. No derivative use, redistribution or public performance is permitted. Maximum usage allowances -- loan period: 7 days for some publishers;  printing: up to 20% of the total pages;  copy/paste: up to 5% of the total pages.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="588"&gt;
      &lt;marc:subfield code="a"&gt;Description based on online resource; title from digital title page (viewed on January 28, 2016)&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2="0" tag="650"&gt;
      &lt;marc:subfield code="a"&gt;Electronic book.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2="0" tag="650"&gt;
      &lt;marc:subfield code="a"&gt;Mathematical recreations&lt;/marc:subfield&gt;
      &lt;marc:subfield code="x"&gt;Research.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1="1" ind2=" " tag="700"&gt;
      &lt;marc:subfield code="a"&gt;Beineke, Jennifer Elaine,&lt;/marc:subfield&gt;
      &lt;marc:subfield code="d"&gt;1969-&lt;/marc:subfield&gt;
      &lt;marc:subfield code="e"&gt;editor.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1="1" ind2=" " tag="700"&gt;
      &lt;marc:subfield code="a"&gt;Rosenhouse, Jason,&lt;/marc:subfield&gt;
      &lt;marc:subfield code="e"&gt;editor.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1="2" ind2=" " tag="710"&gt;
      &lt;marc:subfield code="a"&gt;Ebooks Corporation.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1="4" ind2="0" tag="856"&gt;
      &lt;marc:subfield code="u"&gt;http://www.CA.eblib.com/EBLWeb/patron/?target=patron&amp;extendedid=P_4198280_0&lt;/marc:subfield&gt;
      &lt;marc:subfield code="z"&gt;View electronic book&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="907"&gt;
      &lt;marc:subfield code="a"&gt;.b24178329&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="902"&gt;
      &lt;marc:subfield code="a"&gt;170206&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="999"&gt;
      &lt;marc:subfield code="b"&gt;1&lt;/marc:subfield&gt;
      &lt;marc:subfield code="c"&gt;160208&lt;/marc:subfield&gt;
      &lt;marc:subfield code="d"&gt;m&lt;/marc:subfield&gt;
      &lt;marc:subfield code="e"&gt;a&lt;/marc:subfield&gt;
      &lt;marc:subfield code="f"&gt;e&lt;/marc:subfield&gt;
      &lt;marc:subfield code="g"&gt;4&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="994"&gt;
      &lt;marc:subfield code="a"&gt;ewwwn&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="945"&gt;
      &lt;marc:subfield code="a"&gt;DDA EBL&lt;/marc:subfield&gt;
      &lt;marc:subfield code="g"&gt;1&lt;/marc:subfield&gt;
      &lt;marc:subfield code="j"&gt;0&lt;/marc:subfield&gt;
      &lt;marc:subfield code="l"&gt;ewwwn&lt;/marc:subfield&gt;
      &lt;marc:subfield code="h"&gt;0&lt;/marc:subfield&gt;
      &lt;marc:subfield code="o"&gt;e&lt;/marc:subfield&gt;
      &lt;marc:subfield code="p"&gt;$0.00&lt;/marc:subfield&gt;
      &lt;marc:subfield code="q"&gt; &lt;/marc:subfield&gt;
      &lt;marc:subfield code="r"&gt;-&lt;/marc:subfield&gt;
      &lt;marc:subfield code="s"&gt;j&lt;/marc:subfield&gt;
      &lt;marc:subfield code="t"&gt;32&lt;/marc:subfield&gt;
      &lt;marc:subfield code="u"&gt;0&lt;/marc:subfield&gt;
      &lt;marc:subfield code="v"&gt;0&lt;/marc:subfield&gt;
      &lt;marc:subfield code="w"&gt;0&lt;/marc:subfield&gt;
      &lt;marc:subfield code="x"&gt;0&lt;/marc:subfield&gt;
      &lt;marc:subfield code="y"&gt;.i23579274&lt;/marc:subfield&gt;
      &lt;marc:subfield code="z"&gt;160208&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1="#" ind2="#" tag="997"&gt;
      &lt;marc:subfield code="a"&gt;mathematics_of_various_entertaining_subjects__research_in_re_____2016_______princeton_a___________________________________________________________________________&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
  &lt;/marc:record&gt;
        </code></pre>
        <h3>Example MARC XML from University of Colorado Boulder</h3>
        <pre><code>
&lt;marc:record xmlns:marc="http://www.loc.gov/MARC21/slim"&gt;
    &lt;marc:leader&gt;01521cam a2200385ui 4500&lt;/marc:leader&gt;
    &lt;marc:controlfield tag="001"&gt;milcis33270132&lt;/marc:controlfield&gt;
    &lt;marc:controlfield tag="003"&gt;CaONFJC&lt;/marc:controlfield&gt;
    &lt;marc:controlfield tag="005"&gt;20160121113651.0&lt;/marc:controlfield&gt;
    &lt;marc:controlfield tag="006"&gt;m     o  d        &lt;/marc:controlfield&gt;
    &lt;marc:controlfield tag="007"&gt;cr |||||||||||&lt;/marc:controlfield&gt;
    &lt;marc:controlfield tag="008"&gt;151217s2016    njua    ob    001 0 eng d&lt;/marc:controlfield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="020"&gt;
      &lt;marc:subfield code="a"&gt;9781400881338&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="020"&gt;
      &lt;marc:subfield code="z"&gt;9780691164038 (Cloth/HB)&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="020"&gt;
      &lt;marc:subfield code="z"&gt;0691164037 (Cloth/HB)&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="035"&gt;
      &lt;marc:subfield code="a"&gt;MiLcis33270132&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="035"&gt;
      &lt;marc:subfield code="a"&gt;(OCoLC)0932591953&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="037"&gt;
      &lt;marc:subfield code="a"&gt;880361&lt;/marc:subfield&gt;
      &lt;marc:subfield code="b"&gt;MIL&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="040"&gt;
      &lt;marc:subfield code="a"&gt;CaONFJC&lt;/marc:subfield&gt;
      &lt;marc:subfield code="e"&gt;rda&lt;/marc:subfield&gt;
      &lt;marc:subfield code="c"&gt;CaONFJC&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2="4" tag="050"&gt;
      &lt;marc:subfield code="a"&gt;QA95&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1="0" ind2="4" tag="245"&gt;
      &lt;marc:subfield code="a"&gt;The mathematics of various entertaining subjects :&lt;/marc:subfield&gt;
      &lt;marc:subfield code="b"&gt;research in recreational math /&lt;/marc:subfield&gt;
      &lt;marc:subfield code="c"&gt;edited by Jennifer Beineke &amp; Jason Rosenhouse ; with a foreword by Raymond Smullyan.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2="1" tag="264"&gt;
      &lt;marc:subfield code="a"&gt;Princeton, [N.J.] :&lt;/marc:subfield&gt;
      &lt;marc:subfield code="b"&gt;Princeton University Press,&lt;/marc:subfield&gt;
      &lt;marc:subfield code="c"&gt;[2016]&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="300"&gt;
      &lt;marc:subfield code="a"&gt;1 online resource :&lt;/marc:subfield&gt;
      &lt;marc:subfield code="b"&gt;color illustrations.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="336"&gt;
      &lt;marc:subfield code="a"&gt;text&lt;/marc:subfield&gt;
      &lt;marc:subfield code="b"&gt;txt&lt;/marc:subfield&gt;
      &lt;marc:subfield code="2"&gt;rdacontent.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="337"&gt;
      &lt;marc:subfield code="a"&gt;computer&lt;/marc:subfield&gt;
      &lt;marc:subfield code="b"&gt;c&lt;/marc:subfield&gt;
      &lt;marc:subfield code="2"&gt;rdamedia.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="338"&gt;
      &lt;marc:subfield code="a"&gt;online resource&lt;/marc:subfield&gt;
      &lt;marc:subfield code="b"&gt;cr&lt;/marc:subfield&gt;
      &lt;marc:subfield code="2"&gt;rdacarrier.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="504"&gt;
      &lt;marc:subfield code="a"&gt;Includes bibliographical references and index.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1="0" ind2=" " tag="588"&gt;
      &lt;marc:subfield code="a"&gt;Vendor-supplied metadata.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2="0" tag="650"&gt;
      &lt;marc:subfield code="a"&gt;Mathematical recreations&lt;/marc:subfield&gt;
      &lt;marc:subfield code="x"&gt;Research.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1="1" ind2=" " tag="700"&gt;
      &lt;marc:subfield code="a"&gt;Beineke, Jennifer Elaine,&lt;/marc:subfield&gt;
      &lt;marc:subfield code="d"&gt;1969-&lt;/marc:subfield&gt;
      &lt;marc:subfield code="e"&gt;editor.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1="1" ind2=" " tag="700"&gt;
      &lt;marc:subfield code="a"&gt;Rosenhouse, Jason,&lt;/marc:subfield&gt;
      &lt;marc:subfield code="e"&gt;editor.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1="4" ind2="0" tag="856"&gt;
      &lt;marc:subfield code="u"&gt;https://colorado.idm.oclc.org/login?url=http://lib.myilibrary.com/detail.asp?ID=880361&lt;/marc:subfield&gt;
      &lt;marc:subfield code="z"&gt;Connect to online resource (Limited simultaneous users. Try again later if refused.)&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="907"&gt;
      &lt;marc:subfield code="a"&gt;.b85103871&lt;/marc:subfield&gt;
      &lt;marc:subfield code="b"&gt;11-23-16&lt;/marc:subfield&gt;
      &lt;marc:subfield code="c"&gt;01-22-16&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="998"&gt;
      &lt;marc:subfield code="a"&gt;web&lt;/marc:subfield&gt;
      &lt;marc:subfield code="b"&gt;  -  -  &lt;/marc:subfield&gt;
      &lt;marc:subfield code="c"&gt;b&lt;/marc:subfield&gt;
      &lt;marc:subfield code="d"&gt;b&lt;/marc:subfield&gt;
      &lt;marc:subfield code="e"&gt;z&lt;/marc:subfield&gt;
      &lt;marc:subfield code="f"&gt;eng&lt;/marc:subfield&gt;
      &lt;marc:subfield code="g"&gt;nju&lt;/marc:subfield&gt;
      &lt;marc:subfield code="h"&gt;4&lt;/marc:subfield&gt;
      &lt;marc:subfield code="i"&gt;1&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="950"&gt;
      &lt;marc:subfield code="a"&gt;CBma9&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="956"&gt;
      &lt;marc:subfield code="a"&gt;MyiLibrary PDA&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1="#" ind2="#" tag="997"&gt;
      &lt;marc:subfield code="a"&gt;mathematics_of_various_entertaining_subjects__research_in_re_____2016_______princeton_a___________________________________________________________________________&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
  &lt;/marc:record&gt;
        </code></pre>
        <h3>Example MARC XML from SUNY Buffalo</h3>
        <pre><code> 
&lt;marc:record xmlns:marc="http://www.loc.gov/MARC21/slim"&gt;
    &lt;marc:leader&gt;02643nam a22004813a 4500&lt;/marc:leader&gt;
    &lt;marc:controlfield tag="001"&gt;ebl4198280&lt;/marc:controlfield&gt;
    &lt;marc:controlfield tag="003"&gt;NhCcYBP&lt;/marc:controlfield&gt;
    &lt;marc:controlfield tag="005"&gt;20160128113445.1&lt;/marc:controlfield&gt;
    &lt;marc:controlfield tag="006"&gt;m     o  d        &lt;/marc:controlfield&gt;
    &lt;marc:controlfield tag="007"&gt;cr  n        a&lt;/marc:controlfield&gt;
    &lt;marc:controlfield tag="008"&gt;151217s2016    njua    ob    001 0 eng d&lt;/marc:controlfield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="020"&gt;
      &lt;marc:subfield code="a"&gt;9781400881338&lt;/marc:subfield&gt;
      &lt;marc:subfield code="q"&gt;electronic book&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="020"&gt;
      &lt;marc:subfield code="a"&gt;1400881331&lt;/marc:subfield&gt;
      &lt;marc:subfield code="q"&gt;electronic book&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="020"&gt;
      &lt;marc:subfield code="z"&gt;9780691164038&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="020"&gt;
      &lt;marc:subfield code="z"&gt;0691164037&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="037"&gt;
      &lt;marc:subfield code="a"&gt;880361&lt;/marc:subfield&gt;
      &lt;marc:subfield code="b"&gt;MIL&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="040"&gt;
      &lt;marc:subfield code="a"&gt;NhCcYBP&lt;/marc:subfield&gt;
      &lt;marc:subfield code="c"&gt;NhCcYBP&lt;/marc:subfield&gt;
      &lt;marc:subfield code="d"&gt;CoCCC&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2="4" tag="050"&gt;
      &lt;marc:subfield code="a"&gt;QA95&lt;/marc:subfield&gt;
      &lt;marc:subfield code="b"&gt;.M38 2016eb&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1="0" ind2="4" tag="082"&gt;
      &lt;marc:subfield code="a"&gt;793.74&lt;/marc:subfield&gt;
      &lt;marc:subfield code="2"&gt;23&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1="0" ind2="4" tag="245"&gt;
      &lt;marc:subfield code="a"&gt;The mathematics of various entertaining subjects :&lt;/marc:subfield&gt;
      &lt;marc:subfield code="b"&gt;research in recreational math /&lt;/marc:subfield&gt;
      &lt;marc:subfield code="c"&gt;edited by Jennifer Beineke &amp; Jason Rosenhouse ; with a foreword by Raymond Smullyan.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2="1" tag="264"&gt;
      &lt;marc:subfield code="a"&gt;Princeton, New Jersey :&lt;/marc:subfield&gt;
      &lt;marc:subfield code="b"&gt;Princeton University Press in association with the National Museum of Mathematics,&lt;/marc:subfield&gt;
      &lt;marc:subfield code="c"&gt;[2016]&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="300"&gt;
      &lt;marc:subfield code="a"&gt;1 online resource (1 v.)&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="336"&gt;
      &lt;marc:subfield code="a"&gt;text&lt;/marc:subfield&gt;
      &lt;marc:subfield code="2"&gt;rdacontent.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="337"&gt;
      &lt;marc:subfield code="a"&gt;computer&lt;/marc:subfield&gt;
      &lt;marc:subfield code="2"&gt;rdamedia.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="338"&gt;
      &lt;marc:subfield code="a"&gt;online resource&lt;/marc:subfield&gt;
      &lt;marc:subfield code="2"&gt;rdacarrier.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="504"&gt;
      &lt;marc:subfield code="a"&gt;Includes bibliographical references and index.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="506"&gt;
      &lt;marc:subfield code="a"&gt;Access restricted to subscribing institutions. Individual titles purchased upon selection by the 7th affiliated user.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="533"&gt;
      &lt;marc:subfield code="a"&gt;Electronic reproduction.&lt;/marc:subfield&gt;
      &lt;marc:subfield code="b"&gt;Perth, W.A.&lt;/marc:subfield&gt;
      &lt;marc:subfield code="n"&gt;Available via World Wide Web.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="538"&gt;
      &lt;marc:subfield code="a"&gt;Book preview interface supplies PDF, image or read-aloud access. Adobe Digital Editions software required for book downloads.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="538"&gt;
      &lt;marc:subfield code="a"&gt;Users at some libraries may be required to establish a separate no-charge EBL account, and log in to access the full text. For security, do not use a confidential or important ID and password to log in; create a different username and password.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="540"&gt;
      &lt;marc:subfield code="a"&gt;Books may be viewed online or downloaded (to a maximum of two devices per patron) for personal use only. No derivative use, redistribution or public performance is permitted. Maximum usage allowances -- loan period: 7 days for some publishers;  printing: up to 20% of the total pages;  copy/paste: up to 5% of the total pages.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="588"&gt;
      &lt;marc:subfield code="a"&gt;Description based on online resource; title from digital title page (viewed on January 28, 2016)&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2="0" tag="650"&gt;
      &lt;marc:subfield code="a"&gt;Electronic book.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2="0" tag="650"&gt;
      &lt;marc:subfield code="a"&gt;Mathematical recreations&lt;/marc:subfield&gt;
      &lt;marc:subfield code="x"&gt;Research.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1="1" ind2=" " tag="700"&gt;
      &lt;marc:subfield code="a"&gt;Beineke, Jennifer Elaine,&lt;/marc:subfield&gt;
      &lt;marc:subfield code="d"&gt;1969-&lt;/marc:subfield&gt;
      &lt;marc:subfield code="e"&gt;editor.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1="1" ind2=" " tag="700"&gt;
      &lt;marc:subfield code="a"&gt;Rosenhouse, Jason,&lt;/marc:subfield&gt;
      &lt;marc:subfield code="e"&gt;editor.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1="2" ind2=" " tag="710"&gt;
      &lt;marc:subfield code="a"&gt;Ebooks Corporation.&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1="4" ind2="0" tag="856"&gt;
      &lt;marc:subfield code="u"&gt;http://www.CA.eblib.com/EBLWeb/patron/?target=patron&amp;extendedid=P_4198280_0&lt;/marc:subfield&gt;
      &lt;marc:subfield code="z"&gt;View electronic book&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="907"&gt;
      &lt;marc:subfield code="a"&gt;.b24178329&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="902"&gt;
      &lt;marc:subfield code="a"&gt;170206&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="999"&gt;
      &lt;marc:subfield code="b"&gt;1&lt;/marc:subfield&gt;
      &lt;marc:subfield code="c"&gt;160208&lt;/marc:subfield&gt;
      &lt;marc:subfield code="d"&gt;m&lt;/marc:subfield&gt;
      &lt;marc:subfield code="e"&gt;a&lt;/marc:subfield&gt;
      &lt;marc:subfield code="f"&gt;e&lt;/marc:subfield&gt;
      &lt;marc:subfield code="g"&gt;4&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="994"&gt;
      &lt;marc:subfield code="a"&gt;ewwwn&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1=" " ind2=" " tag="945"&gt;
      &lt;marc:subfield code="a"&gt;DDA EBL&lt;/marc:subfield&gt;
      &lt;marc:subfield code="g"&gt;1&lt;/marc:subfield&gt;
      &lt;marc:subfield code="j"&gt;0&lt;/marc:subfield&gt;
      &lt;marc:subfield code="l"&gt;ewwwn&lt;/marc:subfield&gt;
      &lt;marc:subfield code="h"&gt;0&lt;/marc:subfield&gt;
      &lt;marc:subfield code="o"&gt;e&lt;/marc:subfield&gt;
      &lt;marc:subfield code="p"&gt;$0.00&lt;/marc:subfield&gt;
      &lt;marc:subfield code="q"&gt; &lt;/marc:subfield&gt;
      &lt;marc:subfield code="r"&gt;-&lt;/marc:subfield&gt;
      &lt;marc:subfield code="s"&gt;j&lt;/marc:subfield&gt;
      &lt;marc:subfield code="t"&gt;32&lt;/marc:subfield&gt;
      &lt;marc:subfield code="u"&gt;0&lt;/marc:subfield&gt;
      &lt;marc:subfield code="v"&gt;0&lt;/marc:subfield&gt;
      &lt;marc:subfield code="w"&gt;0&lt;/marc:subfield&gt;
      &lt;marc:subfield code="x"&gt;0&lt;/marc:subfield&gt;
      &lt;marc:subfield code="y"&gt;.i23579274&lt;/marc:subfield&gt;
      &lt;marc:subfield code="z"&gt;160208&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
    &lt;marc:datafield ind1="#" ind2="#" tag="997"&gt;
      &lt;marc:subfield code="a"&gt;mathematics_of_various_entertaining_subjects__research_in_re_____2016_______princeton_a___________________________________________________________________________&lt;/marc:subfield&gt;
    &lt;/marc:datafield&gt;
  &lt;/marc:record&gt;
        </code></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="bml-2-loc-marc2bf2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">BML Iteration #2 - Library of Congress MARC2BIBFRAME2</h5>
            </div>
            <div class="modal-body">
        <pre><code>
@prefix bf: &lt;http://id.loc.gov/ontologies/bibframe/&gt; .
@prefix bflc: &lt;http://id.loc.gov/ontologies/bflc/&gt; .
@prefix madsrdf: &lt;http://www.loc.gov/mads/rdf/v1#&gt; .
@prefix rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt; .
@prefix rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt; .
@prefix xml: &lt;http://www.w3.org/XML/1998/namespace&gt; .
@prefix xsd: &lt;http://www.w3.org/2001/XMLSchema#&gt; .

&lt;http://id.loc.gov/vocabulary/carriers/cr&gt; a bf:Carrier ;
    rdfs:label "online resource" .

&lt;http://id.loc.gov/vocabulary/countries/nju&gt; a bf:Place .

&lt;http://id.loc.gov/vocabulary/issuance/mono&gt; a bf:Issuance .

&lt;http://id.loc.gov/vocabulary/languages/eng&gt; a bf:Language .

&lt;http://id.loc.gov/vocabulary/marcgt/bib&gt; a bf:GenreForm ;
    rdfs:label "bibliography" .

&lt;http://id.loc.gov/vocabulary/marcgt/doc&gt; a bf:GenreForm ;
    rdfs:label "document (computer)" .

&lt;http://id.loc.gov/vocabulary/millus/ill&gt; a bf:Illustration ;
    rdfs:label "illustrations" .

&lt;http://id.loc.gov/vocabulary/relators/ctb&gt; a bf:Role .

&lt;https://bibcat.coalliance.org/ebl4198280#Agent700-31&gt; a bf:Agent,
        bf:Person ;
    rdfs:label "Beineke, Jennifer Elaine, 1969-" ;
    bflc:name00MarcKey "7001 $aBeineke, Jennifer Elaine,$d1969-$eeditor." ;
    bflc:name00MatchKey "Beineke, Jennifer Elaine, 1969-" .

&lt;https://bibcat.coalliance.org/ebl4198280#Agent700-32&gt; a bf:Agent,
        bf:Person ;
    rdfs:label "Rosenhouse, Jason," ;
    bflc:name00MarcKey "7001 $aRosenhouse, Jason,$eeditor." ;
    bflc:name00MatchKey "Rosenhouse, Jason," .

&lt;https://bibcat.coalliance.org/ebl4198280#Agent710-33&gt; a bf:Agent,
        bf:Organization ;
    rdfs:label "Ebooks Corporation." ;
    bflc:name10MarcKey "7102 $aEbooks Corporation." ;
    bflc:name10MatchKey "Ebooks Corporation." .

&lt;https://bibcat.coalliance.org/ebl4198280#Item050-14&gt; a bf:Item ;
    bf:itemOf &lt;https://bibcat.coalliance.org/ebl4198280#Instance&gt; ;
    bf:shelfMark [ a bf:ShelfMarkLcc ;
            rdfs:label "QA95.M38 2016eb" ] .

&lt;https://bibcat.coalliance.org/ebl4198280#Item856-34&gt; a bf:Item ;
    bf:electronicLocator [ a rdfs:Resource ;
            bflc:locator &lt;http://www.CA.eblib.com/EBLWeb/patron/?target=patron&extendedid=P_4198280_0&gt; ;
            bf:note [ a bf:Note ;
                    rdfs:label "View electronic book" ] ] ;
    bf:itemOf &lt;https://bibcat.coalliance.org/ebl4198280#Instance&gt; .

&lt;https://bibcat.coalliance.org/ebl4198280#Topic650-29&gt; a bf:Topic,
        madsrdf:Topic ;
    rdfs:label "Electronic book." ;
    bf:source [ a bf:Source ;
            bf:code "lcsh" ] ;
    madsrdf:authoritativeLabel "Electronic book." ;
    madsrdf:isMemberofMADSScheme &lt;http://id.loc.gov/authorities/subjects&gt; .

&lt;https://bibcat.coalliance.org/ebl4198280#Topic650-30&gt; a bf:Topic,
        madsrdf:ComplexSubject ;
    rdfs:label "Mathematical recreations--Research." ;
    bf:source [ a bf:Source ;
            bf:code "lcsh" ] ;
    madsrdf:authoritativeLabel "Mathematical recreations--Research." ;
    madsrdf:componentList ( [ a madsrdf:Topic ;
                madsrdf:authoritativeLabel "Mathematical recreations" ] [ a madsrdf:Topic ;
                madsrdf:authoritativeLabel "Research" ] ) ;
    madsrdf:isMemberofMADSScheme &lt;http://id.loc.gov/authorities/subjects&gt; .

&lt;https://bibcat.coalliance.org/ebl4198280#Instance533-24&gt; a bf:Instance ;
    bf:carrier [ a bf:Carrier ;
            rdfs:label "Electronic reproduction" ] ;
    bf:instanceOf &lt;https://bibcat.coalliance.org/ebl4198280#Work&gt; ;
    bf:note [ a bf:Note ;
            rdfs:label "Available via World Wide Web." ] ;
    bf:provisionActivity [ a bf:ProvisionActivity ;
            bf:place [ a bf:Place ;
                    rdfs:label "Perth, W.A" ] ] ;
    bf:reproductionOf &lt;https://bibcat.coalliance.org/ebl4198280#Instance&gt; ;
    bf:title [ a bf:Title ;
            rdfs:label "The mathematics of various entertaining subjects : research in recreational math /" ;
            bflc:titleSortKey "mathematics of various entertaining subjects : research in recreational math /" ;
            bf:mainTitle "The mathematics of various entertaining subjects" ;
            bf:subtitle "research in recreational math" ] .

&lt;https://bibcat.coalliance.org/ebl4198280#Work&gt; a bf:Text,
        bf:Work ;
    rdfs:label "The mathematics of various entertaining subjects : research in recreational math /" ;
    bf:adminMetadata [ a bf:AdminMetadata ;
            bflc:encodingLevel [ a bflc:EncodingLevel ;
                    bf:code "3" ] ;
            bf:changeDate "2016-01-28T11:34:45"^^xsd:dateTime ;
            bf:creationDate "2015-12-17"^^xsd:date ;
            bf:descriptionConventions [ a bf:DescriptionConventions ;
                    bf:code "aacr" ] ;
            bf:descriptionModifier [ a bf:Agent ;
                    rdfs:label "CoCCC" ] ;
            bf:generationProcess [ a bf:GenerationProcess ;
                    rdfs:label "DLC marc2bibframe2 v1.3.0-SNAPSHOT: 2017-10-03T17:28:18-06:00" ] ;
            bf:identifiedBy [ a bf:Local ;
                    rdf:value "ebl4198280" ] ;
            bf:source [ a bf:Agent,
                        bf:Source ;
                    rdfs:label "NhCcYBP" ],
                [ a bf:Agent,
                        bf:Source ;
                    rdfs:label "NhCcYBP" ],
                [ a bf:Source ;
                    bf:code "NhCcYBP" ] ;
            bf:status [ a bf:Status ;
                    bf:code "n" ] ] ;
    bf:classification [ a bf:ClassificationLcc ;
            bf:classificationPortion "QA95" ;
            bf:itemPortion ".M38 2016eb" ],
        [ a bf:ClassificationDdc ;
            bf:classificationPortion "793.74" ;
            bf:edition "23",
                "full" ] ;
    bf:content [ a bf:Content ;
            rdfs:label "text" ;
            bf:source [ a bf:Source ;
                    rdfs:label "rda" ] ] ;
    bf:contribution [ a bf:Contribution ;
            bf:agent &lt;https://bibcat.coalliance.org/ebl4198280#Agent710-33&gt; ;
            bf:role &lt;http://id.loc.gov/vocabulary/relators/ctb&gt; ],
        [ a bf:Contribution ;
            bf:agent &lt;https://bibcat.coalliance.org/ebl4198280#Agent700-32&gt; ;
            bf:role [ a bf:Role ;
                    rdfs:label "editor." ;
                    bflc:relatorMatchKey "editor" ] ],
        [ a bf:Contribution ;
            bf:agent &lt;https://bibcat.coalliance.org/ebl4198280#Agent700-31&gt; ;
            bf:role [ a bf:Role ;
                    rdfs:label "editor." ;
                    bflc:relatorMatchKey "editor" ] ] ;
    bf:genreForm &lt;http://id.loc.gov/vocabulary/marcgt/bib&gt;,
        &lt;http://id.loc.gov/vocabulary/marcgt/doc&gt; ;
    bf:hasInstance &lt;https://bibcat.coalliance.org/ebl4198280#Instance&gt;,
        &lt;https://bibcat.coalliance.org/ebl4198280#Instance533-24&gt; ;
    bf:language &lt;http://id.loc.gov/vocabulary/languages/eng&gt; ;
    bf:subject &lt;https://bibcat.coalliance.org/ebl4198280#Topic650-29&gt;,
        &lt;https://bibcat.coalliance.org/ebl4198280#Topic650-30&gt; ;
    bf:title [ a bf:Title ;
            rdfs:label "The mathematics of various entertaining subjects : research in recreational math /" ;
            bflc:titleSortKey "mathematics of various entertaining subjects : research in recreational math /" ;
            bf:mainTitle "The mathematics of various entertaining subjects" ;
            bf:subtitle "research in recreational math" ] .

&lt;https://bibcat.coalliance.org/ebl4198280#Instance&gt; a bf:Electronic,
        bf:Instance ;
    rdfs:label "The mathematics of various entertaining subjects : research in recreational math /" ;
    bf:acquisitionSource [ a bf:AcquisitionSource ;
            rdfs:label "MIL" ;
            bf:identifiedBy [ a bf:StockNumber ;
                    rdf:value "880361" ] ] ;
    bf:carrier [ a bf:Carrier ;
            rdfs:label "online resource" ;
            bf:source [ a bf:Source ;
                    rdfs:label "rda" ] ],
        &lt;http://id.loc.gov/vocabulary/carriers/cr&gt; ;
    bf:digitalCharacteristic [ a bflc:ImageBitDepth,
                bf:DigitalCharacteristic ;
            rdfs:label "   " ] ;
    bf:extent [ a bf:Extent ;
            rdfs:label "1 online resource (1 v.)" ] ;
    bf:hasItem &lt;https://bibcat.coalliance.org/ebl4198280#Item050-14&gt;,
        &lt;https://bibcat.coalliance.org/ebl4198280#Item856-34&gt; ;
    bf:hasReproduction &lt;https://bibcat.coalliance.org/ebl4198280#Instance533-24&gt; ;
    bf:identifiedBy [ a bf:Isbn ;
            bf:qualifier "electronic book" ;
            rdf:value "9781400881338" ],
        [ a bf:Isbn ;
            bf:qualifier "electronic book" ;
            rdf:value "1400881331" ],
        [ a bf:Isbn ;
            bf:status [ a bf:Status ;
                    rdfs:label "invalid" ] ;
            rdf:value "9780691164038" ],
        [ a bf:Isbn ;
            bf:status [ a bf:Status ;
                    rdfs:label "invalid" ] ;
            rdf:value "0691164037" ] ;
    bf:illustrativeContent &lt;http://id.loc.gov/vocabulary/millus/ill&gt; ;
    bf:instanceOf &lt;https://bibcat.coalliance.org/ebl4198280#Work&gt; ;
    bf:issuance &lt;http://id.loc.gov/vocabulary/issuance/mono&gt; ;
    bf:media [ a bf:Media ;
            rdfs:label "computer" ;
            bf:source [ a bf:Source ;
                    rdfs:label "rda" ] ] ;
    bf:note [ a bf:Note ;
            rdfs:label "Description based on online resource; title from digital title page (viewed on January 28, 2016)" ;
            bf:noteType "description source" ],
        [ a bf:Note ;
            rdfs:label "Includes bibliographical references and index." ;
            bf:noteType "bibliography" ] ;
    bf:provisionActivity [ a bf:ProvisionActivity,
                bf:Publication ;
            bf:date "2016"^^&lt;http://id.loc.gov/datatypes/edtf&gt; ;
            bf:place &lt;http://id.loc.gov/vocabulary/countries/nju&gt; ],
        [ a bf:ProvisionActivity,
                bf:Publication ;
            bf:agent [ a bf:Agent ;
                    rdfs:label "Princeton University Press in association with the National Museum of Mathematics" ] ;
            bf:date "2016" ;
            bf:place [ a bf:Place ;
                    rdfs:label "Princeton, New Jersey" ] ] ;
    bf:provisionActivityStatement "Princeton, New Jersey : Princeton University Press in association with the National Museum of Mathematics, [2016]" ;
    bf:responsibilityStatement "edited by Jennifer Beineke & Jason Rosenhouse ; with a foreword by Raymond Smullyan" ;
    bf:soundContent [ a bf:SoundContent ;
            rdfs:label "silent" ] ;
    bf:supplementaryContent [ a bf:SupplementaryContent ;
            rdfs:label "Index present" ] ;
    bf:systemRequirement [ a bf:SystemRequirement ;
            rdfs:label "Book preview interface supplies PDF, image or read-aloud access. Adobe Digital Editions software required for book downloads." ],
        [ a bf:SystemRequirement ;
            rdfs:label "Users at some libraries may be required to establish a separate no-charge EBL account, and log in to access the full text. For security, do not use a confidential or important ID and password to log in; create a different username and password." ] ;
    bf:title [ a bf:Title ;
            rdfs:label "The mathematics of various entertaining subjects : research in recreational math /" ;
            bflc:titleSortKey "mathematics of various entertaining subjects : research in recreational math /" ;
            bf:mainTitle "The mathematics of various entertaining subjects" ;
            bf:subtitle "research in recreational math" ] ;
    bf:usageAndAccessPolicy [ a bf:UsePolicy ;
            rdfs:label "Books may be viewed online or downloaded (to a maximum of two devices per patron) for personal use only. No derivative use, redistribution or public performance is permitted. Maximum usage allowances -- loan period: 7 days for some publishers;  printing: up to 20% of the total pages;  copy/paste: up to 5% of the total pages" ],
        [ a bf:UsageAndAccessPolicy ;
            rdfs:label "Access restricted to subscribing institutions. Individual titles purchased upon selection by the 7th affiliated user." ] .
                </code></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="bml-2-url-sub-dedup">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">BML Iteration #2 - URL Substitution and Deduplication</h5>
            </div>
            <div class="modal-body">
                <h3>URL Substitution</h3>
                <h3>Alliance Match Key for De-duplication</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
      
<div class="modal fade" id="bml-2-loc-bf-to-bf-lean">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">BML Iteration #2 - LOC BF to BF Lean</h5>
            </div>
            <div class="modal-body">
                <h3>Library of Congress MARC2BIBFRAME2</h3>
                <h3>BIBFRAME Lean</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bml-2-schema-html">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">BML Iteration #2 - Schema.org and HTML Views</h5>
            </div>
            <div class="modal-body">
                <h3>Schema.org Metadata</h3>
                <h3>HTML Views</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

