<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Status Update for GoldRush&reg; BIBCAT -- October 5<sup>th</sup> Prospector CatRef Working Group</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/default.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">

  </head>

  <body>

    <!-- Begin page content -->
    <div class="container">
        <div class="mt-1">
            <h1>GoldRush&reg; BIBCAT</h1>
        </div>
        <p class="lead">
            October 5<sup>th</sup>, 2017 Status update for the 
            <a href="https://bibcat.prospector.org/">GoldRush BIBCAT</a> project. 
        </p>
        <h2>{{ pages.get('intro').meta.title }}</h2> 
         {{ pages.get('intro').html|safe }}
        <hr>
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h2 class="card-title">{{ pages.get('bml-basics').meta.title }}
                    <button onclick="$('#bml-basics-body').toggleClass('collapse')"
                       class="btn btn-small pull-right bg-primary text-white"><i class="fa fa-caret-square-o-down fa-2x" 
                       aria-hidden="true"></i></button>
                </h2> 
            </div>
            <div class="card-body collapse" id="bml-basics-body">
                <p class="card-text">
                {{ pages.get('bml-basics').html|safe }}
                </p>
            </div>
        </div>
        <hr>
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h2 class="card-title">{{ pages.get('bml-1-build').meta.title }}
                    <button onclick="$('#bml-1-build-body').toggleClass('collapse')"
                       class="btn btn-small text-white bg-danger pull-right"><i class="fa fa-caret-square-o-down fa-2x" 
                       aria-hidden="true"></i></button>
                </h2>
            </div>
            <div class="card-body collapse" id="bml-1-build-body">
                <p class="card-text"{{ pages.get('bml-1-build').html|safe }}</p>
            </div>
        </div>
        <hr>
        <div class="card">
            <div class="card-header bg-warning text-white">
                <h2 class="card-title">{{ pages.get('bml-1-measure').meta.title }}
                   <button onclick="$('#bml-1-measure-body').toggleClass('collapse')"
                            class="btn btn-small text-white bg-warning pull-right"><i class="fa fa-caret-square-o-down fa-2x" 
                            aria-hidden="true"></i></button>
                </h2>
            </div>
            <div class="card-body collapse" id="bml-1-measure-body">
                <p class="card-text"{{ pages.get('bml-1-measure').html|safe }}</p>
            </div>
        </div>

        <hr>
        <div class="card">
            <div class="card-header bg-success text-white">
                <h2>{{ pages.get('bml-1-learning').meta.title }}
                    <button onclick="$('#bml-1-learn-body').toggleClass('collapse')"
                       class="btn btn-small bg-success text-white pull-right"><i class="fa fa-caret-square-o-down fa-2x" 
                       aria-hidden="true"></i></button>
                </h2>
            </div>
            <div class="card-body collapse" id="bml-1-learn-body"> 
            {{ pages.get('bml-1-learning').html|safe }}
            </div>
        </div>
        <p class="lead">
            After the completed Build-Measure-Learn loop and deciding to continue the project, two important
            changes to the project occurred. The first was that the
            the Library of Congress released a new MARC-to-BIBFRAME 2 tool at 
            <a href="https://github.com/lcnetdev/marc2bibframe2">https://github.com/lcnetdev/marc2bibframe2</a>. 
            The second was the addition of a third partner institution, SUNY Buffalo.
        </p>
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h2>{{ pages.get('bml-2-build').meta.title }}
                    <button onclick="$('#bml-2-build-body').toggleClass('collapse')"
                       class="btn btn-small text-white bg-danger pull-right"><i class="fa fa-caret-square-o-down fa-2x" 
                       aria-hidden="true"></i></button>
                </h2>
            </div>
            <div class="card-body collapse" id="bml-2-build-body">
                <p class="card-text">{{ pages.get('bml-2-build').html|safe }}</p>
            </div>
        </div>
        <hr>
        <div class="card">
            <div class="card-header bg-warning text-white">
                <h2>{{ pages.get('bml-2-measure').meta.title }}
                    <button onclick="$('#bml-2-measure-body').toggleClass('collapse')"
                       class="btn btn-small text-white bf-warning pull-right"><i class="fa fa-caret-square-o-down fa-2x" 
                       aria-hidden="true"></i></button>
                </h2>
            </div>
            <div class="card-body collapse" id="bml-2-measure-body">
                <p class="card-text">{{ pages.get('bml-2-measure').html|safe }}</p>
            </div>
        </div>

    </div>
    <br>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; 2017 by Jeremy Nelson and KnowledgeLinks LLC, licensed under CC0</span>
      </div>
    </footer>

    {% include 'prospector-cat-ref/bml-1-dialogs.html' %}
    {% include 'prospector-cat-ref/bml-2-dialogs.html' %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>

