<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Status Update for GoldRush&reg; BIBCAT -- October 5<sup>th</sup> Prospector CatRef Working Group</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/default.css') }}" rel="stylesheet">
  </head>

  <body>

    <!-- Begin page content -->
    <div class="container">
        <div class="mt-1">
            <h1>GoldRush&reg; BIBCAT</h1>
        </div>
        <p class="lead">
            October 5<sup>th</sup>, 2017 Status update for the 
            <a href="https://bibcat.prospector.org/">GoldRush BIBCAT</a> project. 
        </p>
        <h2>{{ pages.get('intro').meta.title }}</h2> 
         {{ pages.get('intro').html|safe }}
        <hr>
        <h2>{{ pages.get('bml-basics').meta.title }}</h2>
        {{ pages.get('bml-basics').html|safe }}
        <hr>
        <h2>{{ pages.get('bml-1-build').meta.title }}</h2>
        {{ pages.get('bml-1-build').html|safe }}
        <hr>
        <h2>{{ pages.get('bml-1-learning').meta.title }}</h2>
        {{ pages.get('bml-1-learning').html|safe }}
        <hr>
        <h2>{{ pages.get('bml-2-build').meta.title }}</h2>
        {{ pages.get('bml-2-build').html|safe }}
        <hr>
    </div>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; 2017 by Jeremy Nelson, licensed under CC0</span>
      </div>
    </footer>

    {% include 'prospector-cat-ref/dialogs.html' %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>

